@import "../../styles/constants"

.divider
  height: 80px
  display: flex
  align-items: center
  padding: 16px

  .line
    height: 1px
    width: 80%
    background: $color-light-grey

  button
    all: unset
    background: $color-purple
    border-radius: 100%
    padding: 16px 20px
    cursor: pointer

    &:hover
      background: $color-off-black